{% extends "base.html" %}

{% load static %}

{% block mainbody %}
<h1>Fotos cercanas</h1>
<div id="map_div" onclick="actualiza_centro()"></div>
<div id="datos_div">
    <div id="logo_box"><img id="logomcarce" src="{% static 'argazkiak/logo.png' %}" alt="logotipo McArce" ></div>
    <div id="textos">
        <div id="centro_coord"></div>
        <div id="lista_fotos"></div>
    </div>
</div>

<script src="{% static 'argazkiak/js/base_map_geoeuskadi.js' %}"></script>
<script src="{% static 'argazkiak/geodata/ubicaciones.js' %}"></script>
<script src="{% static 'argazkiak/js/argazkiak_layer.js' %}"></script>
{% endblock %}